.blogs
{
    margin: 100px 0px -50px 200px;
}
.blogs .maintext,.blogs .author
{
    border: 0px;
    margin: 0px;
    padding: 10px;
    height: 150px;
    background:rgb(255, 255, 255);
}
.blogs .maintext
{
    max-width: 65%;
    max-height: 300px;
}
.blogs .author
{
    position: absolute;
    margin: -170px 0 0 59%;
    width: 150px;
}
.blogs a
{
    display: block;
    text-decoration: none;
    color: black;
}
body 
{
    background-color: rgb(235, 235, 235);
    /*background: url('https://s3.ax1x.com/2020/12/28/rTD05F.jpg') no-repeat 0px 10px;*/
    margin: 0;
}
#menu
{
    font-family:"Consolas";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#menu li
{
    float:left;
}
#menu a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}
#menu a:hover:not(.active)
{
    background-color: #111;
}
.active
{
    background-color: #4CAF50;
}
